<mat-form-field fxFlex>
    <span matPrefix class="field-type">{{
        "items.field.date" | translate
    }}</span>
    <input
        [disabled]="!edit"
        [placeholder]="field.name"
        [(ngModel)]="field.value"
        [matDatepicker]="db"
        matInput
        #input
        [required]="field.required"
    />
    <mat-datepicker-toggle matSuffix [for]="db"></mat-datepicker-toggle>
    <mat-datepicker #db [disabled]="!edit"></mat-datepicker>
    <mat-error>items.error.invalidDate</mat-error>
</mat-form-field>
