@mixin app-item-type-list-theme($theme) {
    $primary: map-get(
        $map: $theme,
        $key: primary
    );
    $background: map-get(
        $map: $theme,
        $key: background
    );
    app-item-type-list {
        .mat-list-item.navigation-item:hover {
            background: map-get($map: $background, $key: card);
        }
        .navigation-item.active {
            background: map-get($map: $background, $key: card);
        }
    }
}
