<mat-card fxLayout="column" id="login-card">
    <mat-toolbar color="primary" fxLayoutAlign="space-between center">
        <span translate>login.title</span>
    </mat-toolbar>
    <mat-progress-bar *ngIf="laoding" mode="indeterminate"></mat-progress-bar>
    <form [formGroup]="loginForm" id="login-form" fxLayout="column" fxFlex>
        <mat-form-field>
            <input matInput autocomplete="username" formControlName="username" [placeholder]="'login.username' | translate" />
        </mat-form-field>
        <mat-form-field>
            <input
                matInput
                autocomplete="current-password"
                type="password"
                formControlName="password"
                [placeholder]="'login.password' | translate"
            />
        </mat-form-field>
        <mat-checkbox formControlName="rememberMe">
            <span translate>login.remember</span>
        </mat-checkbox>
        <span fxFlex></span>
        <button (click)="login()" mat-button color="primary" [disabled]="!loginForm.valid">
            <span translate>login.submit</span>
        </button>

        <button (click)="resetPassword()" mat-button color="primary">
            <span translate>resetPassword.resetPassword</span>
        </button>
    </form>
</mat-card>
