@mixin mat-snackbar-override($theme) {
    $warn: map-get(
        $map: $theme,
        $key: warn
    );
    $accent: map-get(
        $map: $theme,
        $key: accent
    );
    snack-bar-container.mat-snack-bar-container {
        border-radius: 0;
    }
    .mat-snack-bar-container::after {
        content: '';
        display: block;
        position: absolute;
        width: 4px;
        right: 0;
        top: 0;
        height: 100%;
        background: map-get($map: $warn, $key: 500);
    }
    .mat-snack-bar-container.success::after {
        background: map-get($map: $accent, $key: 500);
    }
}
