<mat-drawer-container fxFlex>
    <mat-drawer
        mode="over"
        position="end"
        class="detail-sidenav"
        (closedStart)="drawerClose()"
    >
        <router-outlet
            name="detail"
            #detailOutlet
            (activate)="outletActivate()"
            (deactivate)="outletDeactivate()"
        ></router-outlet>
    </mat-drawer>
    <mat-drawer-content fxFlex fxLayout="row">
        <router-outlet name="content"></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
