<table
    fxFill
    mat-table
    [style.display]="paginator.length ? null : 'none'"
    [ngClass.lt-md]="'mobile'"
    class="table"
    [dataSource]="dataSource"
    matSort
    aria-label="Items"
    @fadeInOut
>
    <!-- fields column -->
    <ng-container *ngFor="let dynCol of displayedColumns">
        <ng-container [matColumnDef]="dynCol">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ dynCol }}</th>
            <td mat-cell *matCellDef="let row" [attr.label]="dynCol">
                <span [innerHTML]="findByName(row.fields, dynCol)"></span>
            </td>
        </ng-container>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row @fadeIn (click)="open(row)" *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator
    [style.display]="paginator.length ? 'inherit' : 'none'"
    #paginator
    [pageIndex]="0"
    [pageSize]="50"
    [pageSizeOptions]="[25, 50, 100]"
></mat-paginator>
<div [hidden]="paginator.length" class="no-data-hint" translate>items.noData</div>
