<mat-toolbar color="form" fxFlex="0 0 auto">
    <button appNavigateBack mat-icon-button><mat-icon>close</mat-icon></button>
    <span>{{ role?.name }}</span>
</mat-toolbar>
<form>
    <app-types-permissions [permissions]="role?.types"></app-types-permissions>
    <div class="actions" fxLayoutAlign="end center">
        <button mat-button>{{ 'role.edit.cancel' | translate }}</button>
        <button mat-raised-button (click)="save()" color="primary">{{ 'role.edit.save' | translate }}</button>
    </div>
</form>
