<mat-form-field class="filter">
    <input #filter (input)="dataSource.filter = filter.value" matInput [placeholder]="'role.edit.filter' | translate" />
</mat-form-field>
<div class="role-form" fxLayout="column">
    <table mat-table [dataSource]="dataSource" matSort class="table">
        <ng-container [matColumnDef]="'name'">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let row">
                <span>{{ row.name }}</span>
            </td>
        </ng-container>
        <ng-container [matColumnDef]="'read'">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px" class="checkbox-cell">
                    <span>read</span>
                    <mat-checkbox
                        [disabled]="disabled"
                        [checked]="checked.read"
                        [indeterminate]="indeterminate.read"
                        (change)="readChange($event)"
                    ></mat-checkbox>
                </div>
            </th>
            <td mat-cell *matCellDef="let row">
                <div fxLayoutAlign="center center" class="checkbox-cell">
                    <mat-checkbox [disabled]="row.disabled" [(ngModel)]="row.read"></mat-checkbox>
                </div>
            </td>
        </ng-container>
        <ng-container [matColumnDef]="'write'">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px" class="checkbox-cell">
                    <span>write</span>
                    <mat-checkbox
                        [disabled]="disabled"
                        [checked]="checked.write"
                        [indeterminate]="indeterminate.write"
                        (change)="writeChange($event)"
                    ></mat-checkbox>
                </div>
            </th>
            <td mat-cell *matCellDef="let row">
                <div fxLayoutAlign="center center" class="checkbox-cell">
                    <mat-checkbox [disabled]="row.disabled" [(ngModel)]="row.write"></mat-checkbox>
                </div>
            </td>
        </ng-container>
        <ng-container [matColumnDef]="'type'">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <div fxLayout="column" fxLayoutAlign="center center" class="checkbox-cell" fxLayoutGap="8px">
                    <span>type</span>
                    <mat-checkbox
                        [disabled]="disabled"
                        [checked]="checked.type"
                        [indeterminate]="indeterminate.type"
                        (change)="typeChange($event)"
                    ></mat-checkbox>
                </div>
            </th>
            <td mat-cell *matCellDef="let row">
                <div fxLayoutAlign="center center" class="checkbox-cell">
                    <mat-checkbox [disabled]="row.disabled" [(ngModel)]="row.type"></mat-checkbox>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['name', 'read', 'write', 'type']; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: ['name', 'read', 'write', 'type']"></tr>
    </table>
</div>
