<!-- IF REFERENCE MAKE IT A BIT MORE GROUPED BY ADDING SPECIAL STYLE -->
<div fxLayout="column" [ngClass]="{ reference: field.type === 'reference' }">
    <div fxLayout.lt-md="column" fxLayoutAlign.lt-md="start stretch" @fadeInOut fxLayout="row" fxLayoutAlign="start center">
        <mat-form-field fxFlex="1 1 auto">
            <app-field-type-select
                (select)="selectType($event)"
                [disabled]="!edit"
                [type]="field.type"
                class="field-type"
                matPrefix
            ></app-field-type-select>

            <!-- VALUE DISPLAY/INPUT -->
            <input
                required
                matInput
                [disabled]="!edit"
                [placeholder]="'types.edit.typeName' | translate"
                [(ngModel)]="field.name"
            />
        </mat-form-field>

        <div class="field-suffix" [ngClass.lt-md]="'small'" fxLayout="row" fxLayoutAlign="start end">
            <div [ngClass]="{ disabled: !edit }" fxLayout="row" fxLayoutAlign="start end">
                <mat-checkbox color="warn" [disabled]="!edit" [(ngModel)]="field.required">
                    {{ 'types.edit.required' | translate }}
                </mat-checkbox>
                <mat-checkbox color="warn" [disabled]="!edit" [(ngModel)]="field.unique">
                    {{ 'types.edit.unique' | translate }}
                </mat-checkbox>
                <button mat-icon-button *ngIf="!isGlobal" [disabled]="!edit" (click)="deleteMe.emit()"><mat-icon>delete</mat-icon></button>
            </div>
        </div>
    </div>
    <!-- FOR REFERENCES: SELECT A TYPE -->
    <app-type-selector
        [value]="reference"
        [disabled]="!edit"
        [withField]="true"
        (selected)="setReference($event)"
        *ngIf="field.type === 'reference'"
    ></app-type-selector>
</div>
