.name {
    width: 250px;
    min-width: 250px;
}
.type-field {
    margin-right: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 8px;
    opacity: 0.7;
    overflow: hidden;
    font-size: 0.7rem;
}
