<mat-card fxLayout="column" id="changePassword-card">
    <mat-toolbar color="primary" fxLayoutAlign="space-between center">
        <span translate>Passwort ändern</span>
    </mat-toolbar>
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <form [formGroup]="changePasswordForm" id="changePassword-form" fxLayout="column" fxFlex>
        <mat-form-field>
            <input
                    matInput
                    autocomplete="current-password"
                    type="password"
                    formControlName="newPassword"
                    [placeholder]="'neues Passwort'"
            />
        </mat-form-field>
        <mat-form-field>
            <input
                    matInput
                    autocomplete="current-password"
                    type="password"
                    formControlName="confirmedPw"
                    [placeholder]="'neues Passwort bestätigen'"
            />
        </mat-form-field>
        <span fxFlex></span>
        <button
                (click)="doSomething()"
                mat-button
                color="primary"
                [disabled]="!changePasswordForm.valid"
        >
            <span translate>Passwort ändern</span>
        </button>
    </form>
</mat-card>
