#changePassword-card {
  width: 480px;
  height: auto;
  margin: auto;
  padding: 0;
  background: transparentize(grey, 0.98);


  #changePassword-form {
    padding: 16px;
  }
}

#sub-card {
  margin: auto;
  height: auto;
  padding: 0px;
}

:host {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
}

input.ng-invalid {
  background: transparentize(red, 0.98);
}

input.ng-valid {
  background: transparentize(green, 0.98);
}

td {
  padding: 10px;
}
