#changePassword-card {
  width: 320px;
  height: 320px;
  margin: auto;
  padding: 0;

  #changePassword-form {
    padding: 16px;
  }
}
:host {
  position: fixed;
  width: 100%;
  height: 70%;
  display: flex;
}

.errorPanel{
  background: red;
  fill: palegreen;
  font-size: 27px;
}
