<mat-card fxLayout="column" id="changePassword-card">
    <mat-toolbar color="primary" fxLayoutAlign="space-between center">
        <span translate>Passwort ändern</span>
    </mat-toolbar>
    <table width="100%">
        <td width="40%"><h4>{{information1}}</h4><br>{{information2}}</td>
        <td>
            <mat-card id="sub-card">
                <form [formGroup]="changePasswordForm" id="changePassword-form" fxLayout="column" fxFlex>
                    <mat-form-field>
                        <input
                                matInput
                                autocomplete="new-password"
                                type="password"
                                formControlName="newPassword"
                                [placeholder]="'neues Passwort'"
                                name="password"
                        />
                    </mat-form-field>
                    <mat-form-field>
                        <input
                                matInput
                                autocomplete="new-password"
                                type="password"
                                formControlName="confirmedPw"
                                [placeholder]="'neues Passwort bestätigen'"
                                name="password"
                        />
                    </mat-form-field>
                    <button
                            (click)="changePassword()"
                            mat-button
                            color="accent"
                            [disabled]="changePasswordForm.invalid"
                    >
                        <span translate>Passwort ändern</span>
                    </button>
                </form>
            </mat-card>
        </td>
    </table>
</mat-card>
