@mixin app-navigation-group-theme($colors) {
    app-navigation-group {
        .mat-list-item-content {
            color: map-get($map: $colors, $key: navigation-text);
        }
    }

    // Navigation item
    .navigation-item {
        display: flex;
        text-decoration: none;
        align-items: center;
        box-sizing: border-box;
        width: 100%;
        padding: 12px 20px;
        position: relative;
        //color: map-get($map: $foreground, $key: text);
        .label {
            margin-left: 18px;
        }

        &.mat-list-item:hover {
            background: map-get($map: $colors, $key: navigation-item-hover);
        }

        // display of which route is active
        &::before {
            content: "";
            display: block;
            position: absolute;
            height: 100%;
            width: 0px;
            transition: width 0.2s;
            background: map-get($map: $colors, $key: navigation-item-accent);
            top: 0;
            left: 0;
        }
        &.active {
            background: map-get($map: $colors, $key: navigation-item-active);
            &::before {
                width: 4px;
            }
            .mat-icon {
                color: map-get($map: $colors, $key: navigation-item-accent);
            }
        }
    }

    // Navigation Group
    .navigation-group-title[hidden] {
        height: 0px;
        padding: 0;
        opacity: 0;
    }
    .navigation-group-title {
        transition-duration: 0.2s;
        transition-property: height, padding;
        padding: 16px 16px 4px 16px;
        display: block;
        box-sizing: border-box;
        // color: map-get($map: $foreground, $key: text);
    }
}
