<ng-container *ngIf="field">
    <app-item-field-string
        *ngIf="field.type === FieldType.string"
        [field]="field"
        [edit]="edit"
    ></app-item-field-string>

    <app-item-field-number
        *ngIf="field.type === FieldType.number"
        [field]="field"
        [edit]="edit"
    ></app-item-field-number>

    <app-item-field-color
        *ngIf="field.type === FieldType.color"
        [field]="field"
        [edit]="edit"
    ></app-item-field-color>

    <app-item-field-file
        *ngIf="field.type === FieldType.file"
        [field]="field"
        [edit]="edit"
    ></app-item-field-file>

    <app-item-field-bool
        *ngIf="field.type === FieldType.boolean"
        [field]="field"
        [edit]="edit"
    ></app-item-field-bool>

    <app-item-field-link
        *ngIf="field.type === FieldType.link"
        [field]="field"
        [edit]="edit"
    ></app-item-field-link>
</ng-container>
