<ng-container *ngIf="control">
    <app-item-field-string *ngIf="control.type === FieldType.string" [control]="control" [form]="form"></app-item-field-string>

    <app-item-field-number *ngIf="control.type === FieldType.number" [control]="control" [form]="form"></app-item-field-number>

    <app-item-field-color *ngIf="control.type === FieldType.color" [control]="control" [form]="form"></app-item-field-color>

    <!--<app-item-field-file *ngIf="control.type === FieldType.file" [field]="field" [edit]="edit"></app-item-field-file>-->

    <app-item-field-bool *ngIf="control.type === FieldType.boolean" [control]="control" [form]="form"></app-item-field-bool>

    <app-item-field-reference
        *ngIf="control.type === FieldType.reference"
        [control]="control"
        [form]="form"
    ></app-item-field-reference>

    <app-item-field-date *ngIf="control.type === FieldType.date" [control]="control" [form]="form"></app-item-field-date>
</ng-container>
