<div fxFlex="1 1 100px" fxLayoutAlign="start center" class="item-searchbox">
    <button
        mat-icon-button
        (click)="openItemType()"
        *ngIf="itemTypeSidenavMode === 'over'"
    >
        <mat-icon>list</mat-icon>
    </button>
    <span fxFlex="150px" fxHide.lt-md translate>types.title</span>
    <button mat-icon-button [routerLink]="['/types', 'add']">
        <mat-icon>add</mat-icon>
    </button>
    <app-search></app-search>
</div>
<mat-drawer-container fxFlex>
    <mat-drawer
        class="item-type-drawer"
        mode="side"
        [(opened)]="itemTypeSidenavOpen"
        [mode]="itemTypeSidenavMode"
        fxFlex="0 0 260px"
    >
        <app-types-list></app-types-list>
    </mat-drawer>
    <mat-drawer-content fxLayout="column" fxFlex="1 1 auto">
        <mat-card
            [ngClass.lt-md]="'content-card-handset'"
            class="content-card"
            fxFlex="1 1 auto"
        >
            <router-outlet></router-outlet>
        </mat-card>
    </mat-drawer-content>
</mat-drawer-container>
