<mat-toolbar color="form">
    <button mat-icon-button appNavigateBack><mat-icon>close</mat-icon></button>
    {{ 'types.global.title' | translate }}
</mat-toolbar>
<div class="globals" fxFlex fxLayout="column">
    <div *ngFor="let field of (fields | async)" fxLayout="row">
        <app-type-field #fieldInput fxFlex="1 1 auto" [isGlobal]="true" [field]="field"></app-type-field>

        <button *ngIf="!fieldInput.edit" fxFlex="0 0 auto" mat-icon-button (click)="fieldInput.edit = true">
            <mat-icon>edit</mat-icon>
        </button>
        <button *ngIf="fieldInput.edit" fxFlex="0 0 auto" mat-icon-button (click)="save(fieldInput)">
            <mat-icon>check</mat-icon>
        </button>
        <button *ngIf="fieldInput.edit" fxFlex="0 0 auto" mat-icon-button (click)="delete(fieldInput.field.id)">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
    <h4>{{ 'types.global.new' | translate }}</h4>
    <div>
        <app-type-field fxFlex="1 1 auto" [isGlobal]="true" [edit]="true" [field]="newField"></app-type-field>
    </div>
    <div fxLayoutAlign="end center">
        <button mat-raised-button color="primary" (click)="create()">{{ 'types.global.add' | translate }}</button>
    </div>
</div>
