<mat-card class="content-card" [ngClass.lt-md]="'handheld'" fxLayout="column">
    <mat-card-header>
        <mat-card-title><span translate>user.me</span></mat-card-title>
        <span fxFlex="1 1 auto"></span>
        <button mat-icon-button (click)="deleteMe()"><mat-icon>delete</mat-icon></button>
    </mat-card-header>

    <!-- USER INFORMATION -->
    <mat-card-content fxFlex="1 1 auto">
        <form fxLayout="column" [formGroup]="changeUserForm">
            <mat-form-field>
                <input matInput formControlName="name" name="name" [placeholder]="'user.name' | translate" />
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="email" name="email" [placeholder]="'user.email' | translate" />
            </mat-form-field>
            <mat-form-field>
                <input
                    disabled
                    matInput
                    name="companyId"
                    disabled
                    [placeholder]="'user.company' | translate"
                    [value]="companyId | company | async"
                />
            </mat-form-field>
        </form>

        <!-- SAVE / CANCEL -->
        <mat-card-actions fxLayoutAlign="end center">
            <button mat-button disabled>{{ 'user.cancel' | translate }}</button>
            <button
                color="primary"
                (click)="save()"
                mat-raised-button
                [disabled]="changeUserForm.invalid || !changeUserForm.dirty"
            >
                {{ 'user.save' | translate }}
            </button>
        </mat-card-actions>
    </mat-card-content>

    <mat-card-header>
        <mat-card-title><span translate>user.pwTitle</span></mat-card-title>
    </mat-card-header>

    <mat-card-content fxFlex="1 1 auto">
        <form fxLayout="column" [formGroup]="changePasswordForm">
            <mat-form-field>
                <input
                    matInput
                    formControlName="currentPassword"
                    autocomplete="current-password"
                    type="password"
                    [placeholder]="'user.password' | translate"
                    name="password"
                />
            </mat-form-field>
            <mat-form-field>
                <input
                    matInput
                    formControlName="newPassword"
                    autocomplete="new-password"
                    type="password"
                    [placeholder]="'user.newPassword' | translate"
                    name="password"
                />
                <mat-error></mat-error>
            </mat-form-field>
            <mat-form-field>
                <input
                    matInput
                    formControlName="repeatPassword"
                    autocomplete="new-password"
                    type="password"
                    [placeholder]="'user.repeadPassword' | translate"
                    name="password"
                />
            </mat-form-field>
            <!-- SAVE / CANCEL -->
            <mat-card-actions fxLayoutAlign="end center">
                <button color="primary" mat-raised-button (click)="save()" [disabled]="changePasswordForm.invalid">
                    {{ 'user.save' | translate }}
                </button>
            </mat-card-actions>
        </form>
    </mat-card-content>
</mat-card>
