<mat-form-field fxFlex>
    <span matPrefix class="field-type"> {{ field.type }} </span>
    <input
        [placeholder]="field.name"
        [value]="field.value"
        [colorPicker]="control.value"
        (colorPickerChange)="control.setValue($event)"
        [cpPosition]="'bottom'"
        [cpOutputFormat]="'hex'"
        [formControl]="control"
        matInput
        autocomplete="off"
    />
    <mat-error *ngIf="control.hasError('not-a-color')">Input is not a color!</mat-error>
    <span
        matSuffix
        [ngStyle]="{ backgroundColor: control.value }"
        class="color-indicator"
    ></span>
</mat-form-field>
