@mixin app-default-page-theme($theme, $colors) {
    $primary: map-get(
        $map: $theme,
        $key: accent
    );
    $background: map-get(
        $map: $theme,
        $key: background
    );
    app-default-page {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        .title {
            margin: 0;
            width: 150px;
        }
        .content-card {
            flex: 1 1 auto;
            margin: 8px;
            padding: 0;
        }
        .content-card-handset {
            margin: 0;
            padding: 0;
        }
        .header {
            padding: 16px;
            background: map-get($map: $colors, $key: page-header-background);
            color: map-get($map: $colors, $key: page-header-text);
        }
        .overlay-sidenav {
            max-width: 560px;
            min-width: 360px;
            width: 100%;
        }
    }
}
