<ng-container *ngIf="user">
    <mat-toolbar color="form">
        <button mat-icon-button appNavigateBack><mat-icon>close</mat-icon></button>
        <span>{{ user.name }}</span>
        <span fxFlex="1 1 auto"></span>
        <button mat-icon-button (click)="deleteUser()"><mat-icon>delete</mat-icon></button>
    </mat-toolbar>
    <form class="user-info-form" fxLayout="column">
        <mat-form-field>
            <input disabled matInput [placeholder]="'user.email' | translate" [value]="user.email" />
        </mat-form-field>
        <mat-form-field>
            <input disabled matInput [placeholder]="'user.company' | translate" [value]="user.companyId | company | async" />
        </mat-form-field>
        <app-role-selector [roles]="user.roles"></app-role-selector>
        <div fxLayoutAlign="end center">
            <button mat-button appNavigateBack><span translate>user.edit.cancel</span></button>
            <button mat-raised-button (click)="updateUser()" color="primary">
                <span translate>user.edit.save</span>
            </button>
        </div>
    </form>
</ng-container>
