<mat-toolbar fxFlex="0 0 auto" color="form">
    <button mat-icon-button (click)="back()"><mat-icon>close</mat-icon></button>
    <span translate>items.new</span>
</mat-toolbar>

<form fxFlex fxLayout="column" fxLayoutAlign="start stretch" autocomplete="off">
    <!-- SELECT TYPE OF ITEM -->
    <span *ngIf="typeId === -1" translate>items.create.selectType</span>
    <app-type-selector (selected)="typeChange($event)"></app-type-selector>

    <!-- EDITABLE FIELDS -->
    <app-item-field *ngFor="let field of fields" [control]="field" [form]="form"></app-item-field>

    <!-- ACTIONS -->
    <div *ngIf="typeId !== -1" fxLayoutAlign="end center" class="actions">
        <button
            color="primary"
            [disabled]="isSubmitting || form ? form.invalid : false || typeId === -1"
            mat-raised-button
            (click)="submit()"
        >
            {{ 'items.edit.save' | translate }}
        </button>
    </div>
</form>
