#reset-card {
  width: auto;
  max-width: 800px;
  height: auto;
  margin: auto;
  padding: 0;
  background: transparentize(grey, 0.98);

  #reset-form {
    padding: 16px;
  }
}

:host {
  position: fixed;
  width: 100%;
  height: 70%;
  display: flex;
}

td {
  padding: 10px;
}
