<a href=" {{link}}">{{linkname}}</a>
<mat-card fxLayout="column" id="reset-card">
    <mat-toolbar color="primary" fxLayoutAlign="space-between center">
        <span translate>resetPassword.title</span>
    </mat-toolbar>
    <mat-progress-bar *ngIf="laoding" mode="indeterminate"></mat-progress-bar>
    <br>
    <!--<mat-progress-bar *ngIf="laoding" mode="indeterminate"></mat-progress-bar>-->
    <form [formGroup]="resetForm" id="reset-form" fxLayout="column" fxFlex>
        <mat-form-field>
            <input
                    matInput
                    autocomplete="email"
                    formControlName="email"
                    [placeholder]="'user.email' | translate"
            />
        </mat-form-field>

        <span fxFlex></span>
        <button
                (click)="requestResetLink()"
                mat-button
                color="primary"
                [disabled]="!resetForm.valid"
        >
            <span translate>resetPassword.submit</span>
        </button>
        <br>
        <br>
        <a href="/resetpassword/2/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MiwiZW1haWwiOiJ0ZXN0QGdtYWlsLmNvbSIsImlhdCI6MTU0OTUzODc2NiwiZXhwIjoxNTQ5NTQwNTY2fQ.fdQgkjDq23yGwK2mcplZ2mg1LgM0M_03-3uI7uOFFTA">TestLink</a>
    </form>
</mat-card>


