<mat-card fxLayout="column" id="reset-card">
    <mat-toolbar color="primary" fxLayoutAlign="space-between center">
        <span translate>resetPassword.title</span>
    </mat-toolbar>
    <!-- Might be worth changing to flex layout? -->
    <table>
        <!-- TODO remove width & valign attribute -->
        <td width="60%" valign="top">
            <!-- TODO translate -->
            <br>
            <b> Please provide the email address that is linked to your account.</b>
            <br>
            <br>
            If you never linked any email address to your account or encounter other problems please contact your local
            administrator.
            <br>
            <a href=" {{link}}">{{linkName}}</a>
        </td>
        <td>
            <mat-card>
                <form [formGroup]="resetForm" id="reset-form" fxLayout="column" fxFlex>
                    <mat-form-field>
                        <input
                                matInput
                                label="hacker"
                                autocomplete="email"
                                formControlName="email"
                                [placeholder]="'user.email' | translate"
                        />
                    </mat-form-field>

                    <span fxFlex></span>
                    <button
                            (click)="requestResetLink()"
                            type="submit"
                            id="submitButton"
                            mat-button
                            color="primary"
                            [disabled]="!resetForm.valid"
                    >
                        <span translate>resetPassword.submit</span>
                    </button>
                </form>
            </mat-card>
        </td>
    </table>
</mat-card>


