@import '~@angular/material/theming';

.file-preview {
    height: 300px;
    overflow: hidden;
    iframe {
        width: 100%;
        height: 100%;
    }
}
.mat-drawer-content {
    button {
        background: rgba($color: #000000, $alpha: 0.5);
        color: white;
    }
}

.version {
    cursor: pointer;
}

.fullScreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50000;
    .file-preview {
        height: 100%;
    }
    .mat-drawer-content {
        overflow: hidden;
    }
    .mat-drawer-container {
        height: 100%;
    }
    iframe {
        height: 100%;
    }
}

#file-upload {
    width: 0.01px;
    height: 0.01px;
}
.full-screen {
    position: absolute;
    top: 8px;
    left: 8px;
}
.file-history {
    bottom: 8px;
    right: 8px;
    position: absolute;
}
.file-download {
    bottom: 8px;
    left: 8px;
    position: absolute;
}
