<div *ngIf="isNew">
    <mat-form-field fxFlex>
        <span matPrefix class="field-type">
            <mat-icon *ngIf="control.global">public</mat-icon>
            {{ 'items.field.file' | translate }}
        </span>
        <input disabled [value]="'items.file.createFirst' | translate" [placeholder]="control.name" matInput />
    </mat-form-field>
</div>
<div class="file-input" *ngIf="!isNew">
    <span class="field-type">{{ control.name }}</span>
    <div [ngClass]="{ fullScreen: fullScreen }">
        <mat-sidenav-container>
            <mat-sidenav #sidenav mode="over">
                <div fxLayoutAlign="end center" style="margin-right:8px;">
                    <button mat-icon-button (click)="sidenav.close()"><mat-icon>close</mat-icon></button>
                </div>
                <mat-list dense>
                    <mat-list-item
                        class="version"
                        (click)="loadPreview(version.time, version.name)"
                        *ngFor="let version of versions"
                    >
                        {{ version.readable }} - {{ version.name }}
                    </mat-list-item>
                </mat-list>
            </mat-sidenav>
            <mat-sidenav-content>
                <button mat-icon-button class="full-screen" (click)="fullScreen = !fullScreen">
                    <mat-icon>fullscreen</mat-icon>
                </button>
                <div class="file-preview">
                    <iframe frameBorder="0" *ngIf="previewUrl.url" [src]="previewUrl.url"></iframe>
                </div>
                <button mat-button color="accent" class="file-history" (click)="sidenav.open()">
                    {{ 'items.file.history' | translate }}
                </button>
                <button mat-button class="file-download" (click)="download()">
                    {{ 'items.file.download' | translate }}
                </button>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
    <div style="margin:8px;display:flex;" *ngIf="!control.disabled" fxLayout="row-reverse">
        <input id="file-upload" accept="image/*,application/pdf" type="file" #fileInput />
        <button mat-raised-button color="primary" (click)="upload()">{{ 'items.file.upload' | translate }}</button>
        <button for="file-upload" (click)="fileInput.click()" mat-button>{{ 'items.file.selectFile' | translate }}</button>
    </div>
</div>
