<ng-container *ngIf="(companies | async) as _companies; else loading">
    <mat-nav-list class="seperated">
        <a mat-list-item class="navigation-item" *ngFor="let company of _companies; trackBy: companyTrackBy" @fadeInOut>
            <span class="name">{{ company.name }}</span>
            <span fxFlex="1 1 auto"></span>
            <button (click)="deleteCompany(company.id)" mat-icon-button><mat-icon>delete</mat-icon></button>
        </a>
    </mat-nav-list>
</ng-container>
<ng-template #loading><div class="no-data-hint" translate>company.noData</div></ng-template>
